.container {
  max-width: 700px;
  margin-top: 10px;
  border: solid;
  border-width: thick;
  color: #dfdfdf;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-family: "Corinthia", cursive;
  font-family: "Jost", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Passion One", cursive;
  font-family: "Roboto", sans-serif;
}

#city-input {
  color: orange;
}
h1 {
  color: #b1bed5;
  font-size: 44px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.dateTime {
  color: #bfd8d5;
  font-size: 20px;
}

.tempNumb {
  color: #b1bed5;
  font-size: 70px;
  font-weight: bolder;
}

.weatherDes:first-letter {
  text-transform: capitalize;
}

.weatherDes {
  color: #bfd8d5;
  font-size: 20px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #bfd8d5;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.units {
  color: #b1bed5;
  position: relative;
  font-size: 16px;
  top: -55px;
}

.hum .win {
  color: #b1bed5;
}

.footer {
  font-size: 10px;
  text-align: center;
  color: #b1bed5;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #b1bed5;
  font-weight: bold;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
