.container {
  max-width: 700px;
  margin-top: 10px;
  border: solid;
  border-width: thick;
  color: #ececec;

  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-family: "Corinthia", cursive;
  font-family: "Jost", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Passion One", cursive;
  font-family: "Roboto", sans-serif;
}

#city-input {
  color: #9fd3c7;
}
h1 {
  color: #142d4c;
  font-size: 44px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.dateTime {
  color: #9fd3c7;
  font-size: 20px;
}

.tempNumb {
  color: #142d4c;
  font-size: 70px;
  font-weight: bolder;
}

.weatherDes:first-letter {
  text-transform: capitalize;
}

.weatherDes {
  color: #9fd3c7;
  font-size: 20px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #9fd3c7;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.units {
  color: #142d4c;
  position: relative;
  font-size: 16px;
  top: -40px;
}

.hum .win {
  color: #142d4c;
}



.footer {
  font-size: 10px;
  text-align: center;
  color: #142d4c;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #142d4c;
  font-weight: bold;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.active {
  color: #142d4c;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #9fd3c7;
}

a:hover {
  color: #ececec;
}

.form-control {
  color: #142d4c;
}
